 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Sacramento&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

 .landing__container{
  min-height: 100vh;
  min-width: 100vw;
 }

.first__part{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    background-color: #E4F9F5;
    min-width: 100vw;
    min-height: 100vh;
    gap: 15rem;
}
.description__Part{
    text-align: left;
    
}
.first__part h1{
    padding-top: 8rem;
    color: #66BFBF;
    font-size: 5.625rem;
    font-family: 'Sacramento', cursive;
    
}
.first__part h2 {
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Centers the text */
  text-align: left; /* Aligns the text to the right side */
  opacity: 0; /* Initially set opacity to 0 */
  line-height: 3rem;
}

@keyframes slide-in {
  0% {
      transform: translateX(100%);
      opacity: 0; /* Start with opacity 0 */
  }
  100% {
      transform: translateX(0%);
      opacity: 1; /* Reach opacity 1 at the end */
  }
}

.first__part h2:nth-child(1) {
  animation: slide-in 0.6s ease-in-out forwards;
  animation-delay: 0s; /* No delay for the first line */
}

.first__part h2:nth-child(2) {
  animation: slide-in 0.6s ease-in-out forwards;
  animation-delay: 0s; /* Delay for the second line */
}

.first__part h2:nth-child(3) {
  animation: slide-in 0.6s ease-in-out forwards;
  animation-delay: 1s; /* Delay for the third line */
}

.first__part h2:nth-child(4) {
  animation: slide-in 0.6s ease-in-out forwards;
  animation-delay: 2s; /* Delay for the fourth line */
}
.first__part h2:nth-child(5) {
  animation: slide-in 0.6s ease-in-out forwards;
  animation-delay: 3s; /* Delay for the fourth line */
}


/* 
.middle__part{
  padding-top: 6rem;
  min-height: 100vh;
  min-width: 100vw
} */
img{
    width: 18rem;
    border-radius: 50%;
    text-align: right;
}
.project__container h1{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding: 3rem 0rem 3rem 0rem;
}
.project__container h2{
color: #11999E;
font-family: 'Montserrat', sans-serif;
}
.project__container h3{
color:#40514E;
font-size: 1.3rem;
/* max-width: 50rem; */
text-align: left;
padding-left: 9rem;
padding-right: 9rem;
font-family: 'Montserrat', sans-serif;
}
.project__container a {
    display: flex;
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-size: 1.3rem;
    
    transition: color 0.3s ease;
  }
  .project__container a:hover{

    color:#056464;
    text-decoration: underline;
  }
  .project__container ul {
    list-style-type: disc; 
    padding-left: 10rem;
  }
.contact__part{
    min-width: 100vw;
    min-height: 46vh;

}
.contact__part h1{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding:3rem 1rem;
}
a.button{
    display: inline-block;
    width: 12rem;
    height: 1.8rem;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    border: none;

}
.footer__container{
    
    text-decoration: none;
    text-align: center;
    background-color: #66BFBF;
    padding: 4rem 0 5rem;
}


  .footer__container a {
    color: #0e5153;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-right: 1rem;
    padding: 2rem;
    transition: color 0.3s ease;
  }
  .footer__container a:hover{

    color:#ffffff;
  }

  body.light {
    background-color: #fff;
    color: #333;
  }
  
  
  body.dark {
    background-color: #333;
    color: #fff;
  }
  /* .darkmode__button {
    width:5rem;
    height:2rem;
   border: none;
   position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
  }

  .darkmode__button:after {
    content: "";
    width:2rem;
    height: 2rem;
    position: absolute;
    top:10px;
    left:10px;
    background: linear-gradient(180deg,#ffcc89,#d8860b);
    border-radius: 180px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  } */
  .scroll-button {
    width: 100%;
    width:5rem;
    height:2rem;
   border: none;
   position: fixed;
   right: 2rem;
   top: 4rem;
    display: block;
    background: #ebebeb;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0,0,0,0.4), inset 0px -5px 15px rgba(255,255,255,0.4);
    cursor: pointer;
  }
  .scroll-button.clicked{
    background: linear-gradient(90deg, #0F0015 2.23%, #382F3B 61.19%, #3E3B43 99.99%);
  }
  

  
  .sun-icon{
    
  }
  .moon-icon {
    color: #000000;
    /* Add additional styles as needed */
  }
  .icon-circle-sun{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #dad8d8;
    /* border: 13px #ffffff; */
    float: left;
    box-shadow: 2px 0px 5px 2px rgba(126, 119, 119, 0.21)
  }
  .icon-circle-moon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background-color: #ffffff;
    
    float: right;
  }
  .scroll-button.clicked .icon-circle-sun {
    display: none;
  }
  .scroll-button.clicked .icon-circle-moon {
    display: flex;
    justify-content: center;
  }
  
  
  .scroll-button .icon-circle-moon{
    display: none;
  }

  @media(min-device-width: 200px) and (max-device-width: 800px) {
    .first__part img{
         display: none;
         
         
    }
    .first__part{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-height: 35vh;
      margin-top: 5rem;
      gap: 5rem;
    }
    .description__Part h1 {
        font-size: 3rem;
        padding-top: 2rem;
        margin-top: 5rem;
      
    }
 
    .landing__container>div {
        margin: 0rem;
    }
    .landing__container h2 {
        font-size: 1.2rem;
        margin-left: 1rem;
    }
    .landing__container h2:nth-child(8){
      display: none;
    }
    .project__container h1 {
      font-size: 1.5rem;
  }
  .project__container ul {
    padding-left: 5rem;
}
  .project__container h3{
  display: none;
}

    .home__button {
        width: 8rem;
        font-size: .9rem;
    }
}

@media screen and (max-device-width: 250px) {
    body {
        display: none;
    }
}